--
-- PostgreSQL database dump
--

\restrict gaOQg3v8miDo1hVM7LEUyekGrfcB4nf2gU9b6K1qmVt89N7cXNVfpY6bw5xpkzy

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ci_checks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ci_checks (
    check_id bigint NOT NULL,
    pr_id bigint NOT NULL,
    name text,
    status text,
    conclusion text,
    completed_at timestamp with time zone,
    raw jsonb,
    inserted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ci_checks OWNER TO postgres;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    comment_id bigint NOT NULL,
    parent_type text,
    parent_id bigint NOT NULL,
    author_login text,
    body text,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    raw jsonb,
    inserted_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT comments_parent_type_check CHECK ((parent_type = ANY (ARRAY['issue'::text, 'pull_request'::text])))
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: issues; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issues (
    issue_id bigint NOT NULL,
    repo_id bigint NOT NULL,
    title text,
    state text,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    comments_count integer,
    raw jsonb,
    inserted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.issues OWNER TO postgres;

--
-- Name: labels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.labels (
    label_id bigint NOT NULL,
    repo_id bigint NOT NULL,
    name text,
    color text,
    raw jsonb,
    inserted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.labels OWNER TO postgres;

--
-- Name: pr_reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pr_reviews (
    review_id bigint NOT NULL,
    pr_id bigint NOT NULL,
    state text,
    author_login text,
    created_at timestamp with time zone,
    raw jsonb,
    inserted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pr_reviews OWNER TO postgres;

--
-- Name: pull_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pull_requests (
    pr_id bigint NOT NULL,
    repo_id bigint NOT NULL,
    title text,
    state text,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    comments_count integer,
    raw jsonb,
    inserted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pull_requests OWNER TO postgres;

--
-- Name: releases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.releases (
    release_id bigint NOT NULL,
    repo_id bigint NOT NULL,
    name text,
    created_at timestamp with time zone,
    published_at timestamp with time zone,
    raw jsonb,
    inserted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.releases OWNER TO postgres;

--
-- Name: repo_daily_metrics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.repo_daily_metrics (
    id bigint NOT NULL,
    repo_id bigint NOT NULL,
    metrics_date date NOT NULL,
    stargazers_count integer NOT NULL,
    watchers_count integer,
    forks_count integer,
    open_issues_count integer,
    raw jsonb,
    inserted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.repo_daily_metrics OWNER TO postgres;

--
-- Name: repo_daily_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.repo_daily_metrics_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.repo_daily_metrics_id_seq OWNER TO postgres;

--
-- Name: repo_daily_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.repo_daily_metrics_id_seq OWNED BY public.repo_daily_metrics.id;


--
-- Name: repos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.repos (
    repo_id bigint NOT NULL,
    owner_login text NOT NULL,
    name text NOT NULL,
    full_name text GENERATED ALWAYS AS (((owner_login || '/'::text) || name)) STORED,
    url text,
    stars integer,
    primary_language text,
    description text,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    raw jsonb,
    inserted_at timestamp with time zone DEFAULT now() NOT NULL,
    last_synced_at timestamp with time zone
);


ALTER TABLE public.repos OWNER TO postgres;

--
-- Name: repo_daily_metrics id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repo_daily_metrics ALTER COLUMN id SET DEFAULT nextval('public.repo_daily_metrics_id_seq'::regclass);


--
-- Data for Name: ci_checks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ci_checks (check_id, pr_id, name, status, conclusion, completed_at, raw, inserted_at) FROM stdin;
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comments (comment_id, parent_type, parent_id, author_login, body, created_at, updated_at, raw, inserted_at) FROM stdin;
\.


--
-- Data for Name: issues; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.issues (issue_id, repo_id, title, state, created_at, updated_at, comments_count, raw, inserted_at) FROM stdin;
\.


--
-- Data for Name: labels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.labels (label_id, repo_id, name, color, raw, inserted_at) FROM stdin;
\.


--
-- Data for Name: pr_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pr_reviews (review_id, pr_id, state, author_login, created_at, raw, inserted_at) FROM stdin;
\.


--
-- Data for Name: pull_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pull_requests (pr_id, repo_id, title, state, created_at, updated_at, comments_count, raw, inserted_at) FROM stdin;
\.


--
-- Data for Name: releases; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.releases (release_id, repo_id, name, created_at, published_at, raw, inserted_at) FROM stdin;
\.


--
-- Data for Name: repo_daily_metrics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.repo_daily_metrics (id, repo_id, metrics_date, stargazers_count, watchers_count, forks_count, open_issues_count, raw, inserted_at) FROM stdin;
\.


--
-- Data for Name: repos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.repos (repo_id, owner_login, name, url, stars, primary_language, description, created_at, updated_at, raw, inserted_at, last_synced_at) FROM stdin;
\.


--
-- Name: repo_daily_metrics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.repo_daily_metrics_id_seq', 1, false);


--
-- Name: ci_checks ci_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ci_checks
    ADD CONSTRAINT ci_checks_pkey PRIMARY KEY (check_id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (comment_id);


--
-- Name: issues issues_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_pkey PRIMARY KEY (issue_id);


--
-- Name: labels labels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labels
    ADD CONSTRAINT labels_pkey PRIMARY KEY (label_id);


--
-- Name: pr_reviews pr_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pr_reviews
    ADD CONSTRAINT pr_reviews_pkey PRIMARY KEY (review_id);


--
-- Name: pull_requests pull_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pull_requests
    ADD CONSTRAINT pull_requests_pkey PRIMARY KEY (pr_id);


--
-- Name: releases releases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.releases
    ADD CONSTRAINT releases_pkey PRIMARY KEY (release_id);


--
-- Name: repo_daily_metrics repo_daily_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repo_daily_metrics
    ADD CONSTRAINT repo_daily_metrics_pkey PRIMARY KEY (id);


--
-- Name: repo_daily_metrics repo_daily_metrics_repo_id_metrics_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repo_daily_metrics
    ADD CONSTRAINT repo_daily_metrics_repo_id_metrics_date_key UNIQUE (repo_id, metrics_date);


--
-- Name: repos repos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repos
    ADD CONSTRAINT repos_pkey PRIMARY KEY (repo_id);


--
-- Name: idx_ci_pr; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ci_pr ON public.ci_checks USING btree (pr_id);


--
-- Name: idx_comments_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comments_parent ON public.comments USING btree (parent_type, parent_id);


--
-- Name: idx_issues_repo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_issues_repo ON public.issues USING btree (repo_id);


--
-- Name: idx_labels_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_labels_name ON public.labels USING btree (name);


--
-- Name: idx_labels_repo_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_labels_repo_id ON public.labels USING btree (repo_id);


--
-- Name: idx_pr_repo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pr_repo ON public.pull_requests USING btree (repo_id);


--
-- Name: idx_pr_reviews_pr_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pr_reviews_pr_id ON public.pr_reviews USING btree (pr_id);


--
-- Name: idx_pr_reviews_state; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pr_reviews_state ON public.pr_reviews USING btree (state);


--
-- Name: idx_releases_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_releases_name ON public.releases USING btree (name);


--
-- Name: idx_releases_repo_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_releases_repo_id ON public.releases USING btree (repo_id);


--
-- Name: idx_repo_daily_metrics_repo_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_repo_daily_metrics_repo_date ON public.repo_daily_metrics USING btree (repo_id, metrics_date DESC);


--
-- Name: idx_repos_owner; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_repos_owner ON public.repos USING btree (owner_login);


--
-- Name: ci_checks ci_checks_pr_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ci_checks
    ADD CONSTRAINT ci_checks_pr_id_fkey FOREIGN KEY (pr_id) REFERENCES public.pull_requests(pr_id) ON DELETE CASCADE;


--
-- Name: issues issues_repo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_repo_id_fkey FOREIGN KEY (repo_id) REFERENCES public.repos(repo_id) ON DELETE CASCADE;


--
-- Name: labels labels_repo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labels
    ADD CONSTRAINT labels_repo_id_fkey FOREIGN KEY (repo_id) REFERENCES public.repos(repo_id) ON DELETE CASCADE;


--
-- Name: pr_reviews pr_reviews_pr_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pr_reviews
    ADD CONSTRAINT pr_reviews_pr_id_fkey FOREIGN KEY (pr_id) REFERENCES public.pull_requests(pr_id) ON DELETE CASCADE;


--
-- Name: pull_requests pull_requests_repo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pull_requests
    ADD CONSTRAINT pull_requests_repo_id_fkey FOREIGN KEY (repo_id) REFERENCES public.repos(repo_id) ON DELETE CASCADE;


--
-- Name: releases releases_repo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.releases
    ADD CONSTRAINT releases_repo_id_fkey FOREIGN KEY (repo_id) REFERENCES public.repos(repo_id) ON DELETE CASCADE;


--
-- Name: repo_daily_metrics repo_daily_metrics_repo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repo_daily_metrics
    ADD CONSTRAINT repo_daily_metrics_repo_id_fkey FOREIGN KEY (repo_id) REFERENCES public.repos(repo_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict gaOQg3v8miDo1hVM7LEUyekGrfcB4nf2gU9b6K1qmVt89N7cXNVfpY6bw5xpkzy

